#topnews_main_stream_408239535924329
{
    height: 0;
    width: 0;
    overflow: hidden;
}

#pagelet_ego_pane
{
    height: 0;
    width: 0;
    overflow: hidden;
}

#m_newsfeed_stream
{
  height: 0;
  width: 0;
  overflow: hidden;
}

#stories_tray
{
  height: 0;
  width: 0;
  overflow: hidden;
}

#BuddylistPagelet
{
  height: 0;
  width: 0;
  overflow: hidden;
}

#watch_feed
{
  height: 0;
  width: 0;
  overflow: hidden;
}